@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    font-family: "Azeret Mono", monospace;
}

.web_container {
    max-width: 1550px;
    margin: 0 auto;
}

.nav_banner_bg {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 10px 10px 70px 10px;
    border-radius: 16px;
    margin-bottom: 130px;
}

.navbar_postition {
    margin: 40px 10rem 100px 10rem;
}

.navbar_align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    gap: 2rem;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
}

/* navbar is completed */

.banner_title {
    font-size: 64px;
    margin: 0 23rem;
    font-weight: 700;
}

.banner_description {
    font-size: 16px;
    color: gray;
    font-weight: 400;
    margin: 0 16rem;
    margin-top: 70px;
}

.reusable_btn {
    border: 3px solid rgb(255, 144, 14);
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    background: rgb(255, 144, 14);
    margin-top: 32px;
    margin-bottom: 50px;
}

/* Banner completed */

.container {
    margin: 0 10rem;
}

.quick_list_section_align {
    display: flex;
    align-items: center;
    gap: 50px;
}

.image_align {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick_list_options_align,
.image_align {
    flex: 1;
    flex-basis: 50%;
}

.quick_list_title {
    font-size: 45px;
    font-weight: 700;
}

.quick_list_description {
    color: gray;
    font-size: 16px;
    margin: 20px 0;
}




.features_section_align {
    display: flex;
    gap: 50px;
    align-items: center;


}

.features_title {
    font-size: 40px;
    border-left: 4px solid rgb(255, 144, 14);
    padding-left: 10px;

    font-weight: 700;
}

.features_description {
    color: gray;
    font-size: 13px;
    margin-top: 12px;

}

.sub_features_title {
    font-size: 15px;
    margin-bottom: 12px;
}

.sub_features_div {
    padding: 30px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin: 30px 0;
    border-radius: 10px;
}

.sub_features_description {
    color: gray;
    font-size: 13px;
}

.specia_btn {
    border: 3px solid rgb(255, 144, 14);
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 30px;
    background: rgb(255, 144, 14);
    margin-top: 32px;
    margin-bottom: 50px;
    position: absolute;
    right: 28rem;
    top: 47rem;

}

/* features section completed */
.Some_facts_title {
    font-size: 40px;
    font-weight: 700;
}

.Some_facts_description {
    margin: 30px 35rem 70px 0px;
    font-size: 14px;
    font-weight: 40;
    color: gray;
}




.badges_align {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.badges_div {
    padding: 30px;
    border: 3px solid rgb(255, 144, 14);

    border-radius: 10px;
}

.badeges_title {
    margin: 5px 0;
}

.badges_about {
    font-size: 14px;
    color: gray;

}

/* Badges section completed */